// Navbar styles
// ======================================

.navbar-transparent {
  background: none;
  z-index: $z-index-component;
  position: absolute;
  padding-left: 25px;
  padding-right: 25px;
}

.breadcrumb-criteria {

  li {
    margin-right: 16px;
  }
}