<div class="view-content container">
	<h1>Sign In</h1>
	<form class="form-vertical form-login">
		<fieldset>
			<div class="form-group">
				<input class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" type="email">
				<span class="form-decoration"></span>
				<label for="inputEmail" class="control-label">Email</label>
			</div>
			<div class="form-group">
				<input class="form-control" id="inputPassword" name="inputPassword" placeholder="Password" type="password">
				<span class="form-decoration"></span>
				<label for="inputPassword" class="control-label">Password</label>
			</div>
			<div class="form-group">
				<div class="col-xs-6">
					<button type="submit" class="btn btn-main">Submit <span class="icon icon-lock"></span></button>
				</div>
				<div class="col-xs-6">
					<div class="help-block text-right"><a href="#/browse/condition">Skip <span class="icon icon-angle-right"></span></a></div>
				</div>
			</div>
		</fieldset>
	</form>
</div>